.navbar {
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.badge {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
